<mat-toolbar class="navbar">
  <span>XML Book Library</span>
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Search a book</mat-label>
    <input type="text" style="display: none;" />
    <input
      matInput
      autocomplete="off"
      placeholder="Madness and Civilization"
      [(ngModel)]="input"
      (input)="searchBooks($event.target.value)"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</mat-toolbar>

<div *ngIf="!isSearchBoxEmpty" class="title">Search Result</div>
<mat-divider></mat-divider>
<div *ngIf="isSearchBoxEmpty && !isSearching" class="svg-container">
  <img class="svg" src="assets/books.svg" alt="" />
  <div class="title1">Search a book</div>
</div>
<div
  *ngIf="!(isSearchBoxEmpty || isSearching) && isNotFound"
  class="svg-container"
>
  <img class="svg" src="assets/information.svg" alt="" />
  <div class="title1">Oupps, Not Found</div>
</div>
<div class="container">
  <mat-spinner style="margin-top: 200px;" *ngIf="isSearching"></mat-spinner>
</div>
<div class="container">
  <ng-container *ngIf="books$ | async as books">
    <ng-container *ngIf="!(isSearchBoxEmpty || isNotFound) && !isSearching">
      <div *ngFor="let book of books">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title> {{ book.title | titlecase }} </mat-card-title>
            <mat-card-subtitle>{{ book.author | titlecase }}</mat-card-subtitle>
          </mat-card-header>
          <div class="img-container">
            <img class="img" mat-card-image [attr.src]="book.image" alt="" />
          </div>
          <mat-card-content>
            <p>
              {{ book.desc }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button [attr.href]="sanitize(book.path)">
              READ
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
  </ng-container>
</div>
